@import 'tailwindcss';

@theme {
  --font-family: Inter, Helvetica, Arial, sans-serif;
  --color-inactive: var(--secondary-text);
  --color-active: var(--text);
  --color-warn: var(--color-red-400);
}

body {
  letter-spacing: 0.01em;
}
